<div class="container">
  <div class="well">
  		<div class="well well-lg"><center><b>ENTER THE USER DETAILS</b></center></div>
			

		<input type="text" name="tname" ng-model="user.name" placeholder="User's Name" class="form-control"/><br>
		<input type="text" name="tid" ng-model="user.id" placeholder="User's ID" class="form-control"/><br>
		<input type="text" name="tmobile" ng-model="user.mobile" placeholder="User's Mobile" class="form-control"/><br>
		<input type="text" name="taddress" ng-model="user.address" placeholder="User's Address" class="form-control"/><br>
		<input type="button" value="save" ng-click="send()" class="btn btn-success"/>&nbsp; 
		<a href="#/userlist" class="btn btn-warning">USER LIST</a><br>

	</div>
</div>


