<div class="container">
  
	<div class="well">		
		<a href="#/userlist" class="btn btn-warning">USER LIST</a><br>
		<form>
		Name:<input type="text" name="tname" ng-model="user.name" placeholder="Enter User's Name" class="form-control"/><br>
		Id:<input type="text" name="tid" ng-model="user.id" placeholder="Enter User's ID" class="form-control"/><br>
		Mobile:<input type="text" name="tmobile" ng-model="user.mobile" placeholder="Enter User's Mobile" class="form-control"/><br>
		Address:<input type="text" name="taddress" ng-model="user.address" placeholder="Enter User's Address" class="form-control"/><br>
		<input type="button" value="save" ng-click="send()" class="btn btn-success"/><br>
		</form>
	</div>
</div>


